@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.homepage {
    display: flex;
    font-family: "Nunito", sans-serif;
}

.left {
    background-color: #ffffff;
    width: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.right {
    background-color: #F1F1F1C4;
    width: 84%;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.myclinic-text {
    font-weight: bold;
    font-size: 2em;
    color: #0f3c85;
    display: flex;
    align-items: center;
}

.hello-text {
    font-size: 2em;
    color: rgba(24, 24, 24, 0.87);
    display: flex;
    align-items: center;
}

.card-profile {
    width: 80%;
    height: 280px;
    background: rgb(239, 239, 239);
    border-radius: 12px;
    box-shadow: 30px 30px 30px rgba(231, 231, 231, 0.22);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10%;
    transition-duration: .5s;
}

.profile-text-card {
    width: 100%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.logout-link {
    margin-left: 1px;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-color: #0f3c83;
    color: #0f3c83;
    cursor: pointer;
    font-weight: 800;
}

.name {
    font-size: 1.2em;
    font-weight: bold;
    color: #1f1f1f;
    letter-spacing: 0.5px;
}

.titles {
    font-size: 1.6em;
    font-weight: bold;
    color: #1f1f1f;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.card-profile:hover {
    background-color: rgb(208, 208, 208);
    transition-duration: .5s;
}

