
.fixedPos{
    position: fixed;
    width: auto !important; 
}

.space{
    padding: 5%;
}

.loginForm{
    width: 100%;
}

.loginBtn{
    width: 70%;
    height: auto;
}
.loginFormTextF{
    width: 70%;
}

